.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(2%,50px);
}
.navbar .profile{
    width: 40px;
}
.title{
    color: goldenrod;
    font-weight: 600;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
}